<%= form_for(@library) do |f| %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :author_first_name %><br />
    <%= f.text_field :author_first_name %>
  </div>
  <div class="field">
    <%= f.label :author_last_name %><br />
    <%= f.text_field :author_last_name %>
  </div>
  <div class="field">
    <%= f.label :ISBN %><br />
    <%= f.text_field :ISBN %>
  </div>
  <div class="field">
    <%= f.label :rating %><br />
    <%= f.text_field :rating %>
  </div>
  <div class="field">
    <%= f.label :review %><br />
    <%= f.text_field :review %>
  </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>